<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftUIAdvancedLearning.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB0C87C32B3C1B710008D6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB484DBF2B2F110200635B8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB6788582B3A1AEF005558CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
